<h2>Add a Client:</h2>

<form action="/clients" method="post">
  <label for="name">Client name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Client</button>
</form>
