<h1>Welcome to the your Salon</h1>
<div class="container">
  <button><a href="/stylists">View and Manage Stylists</a></button>
  <button><a href="/clients">View and Manage Clients</a></button>
</div>
