<h1>Welcome to the your Salon</h1>
<div class="container">
  <button><a href="/stylists">View All Stylists</a></button>
  </br>
  <button><a href="/stylists/new">Add a New Stylist</a></button>
  </br>
  </br>
  <button><a href="/clients">View Clients</a></button>
  </br>
  <button><a href="/clients/new">Add a New Client</a></button>
</div>
