<h1>Salon's Stylists:</h1>

<% if @stylists.any?() %>
  <h3>Here are your stylists:</h3>

  <ul>
    <% @stylists.each() do |stylist| %>
      <li><a href="/stylists/<%= stylist.id()%>"><%= stylist.name() %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are no stylists yet.</p>

<% end %>

<a href="/"><button class="button btn">Home</a>

<!-- <h2>Add a Stylist:</h2>

<form action="/stylists" method="post">
  <label for="name">Stylist name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Stylist</button>
</form> -->
