<h2>Add a Stylist:</h2>

<form action="/stylists" method="post">

  <label for="name">Stylist name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Stylist</button>
</form>
